/* common */
html{
    height: 100%;
}
body {
    font-size: 14px;
    line-height: 22px;
    height: 100%;
}

img {
    max-width: 100%;
    margin: 15px auto;
}

h1, .h1, h2, .h2, h3, .h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

.site-header {
    padding-top: 25px;
}

.main-container{
    overflow: hidden;
    min-height: 100%;
}

.sidebar-wrapper {
    background: #3e4548;
}

.sidebar-wrapper .sidebar-inner-wrapper {
    margin-right: -15px;
    margin-left: -15px;
}

/* Site Title */
.title-area {
    text-align: center;
    padding: 36px 0px;
}

.title-area h1 {
    color: #fff;
}

.site-description {
    font-size: 13px;
    color: #afbbd0;
}

.site-description a {
    color: #b5bfc1;
    text-decoration: none;
}

.site-description a:hover {
    color: #c4cfd1;
}

/* Main Navigation */
.main-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
}

.main-menu a:focus,
.main-menu a:hover{
    text-decoration: none;
}

.main-menu-item {
    display: block;
    padding: 14px 28px 12px;
    color: #eaeaea;
}

.main-menu li.active .main-menu-item,
.main-menu-item:hover {
    background: #565d60;
}

.menu-item {
    display: block;
    color: #fff;
    background: #5f6669;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #565d60;
    font-size: 14px;
    line-height: 24px;
}

.menu-item .glyphicon-chevron-right {
    float: right;
    color: #ced4df;
    margin-top: 2px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.main-menu li.active .glyphicon-chevron-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-item i {
    float: left;
    line-height: inherit;
    margin-right: 15px;
    font-size: 14px;
    line-height: 20px;
}

.sub-menu-item {
    display: block;
    padding: 12px 28px 12px 56px;
    color: #eaeaea;
    cursor: pointer;
    border-bottom: 1px solid #565d60;
    font-size: 14px;
}

.sub-menu > li {
    margin: 0;
}

.sub-menu li:last-child .sub-menu-item {
    border-bottom: 0;
}

.sub-menu .sub-menu-item.active,
.sub-menu-item:hover,
.sub-menu-item:focus{
    text-decoration: none;
    background: #4b5153;
    color: #eaeaea;
}

.sub-menu {
    display: none;
}

.main-menu > li {
    margin: 0;
}

/* content styles */
.page-content {
    margin-top: 15px;
}

.page-content > article.hentry {
    display: none;
    clear: both;
}

.page-content > article.hentry:first-child{
    display: block;
}

.hentry .entry-title {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 11px;
}

.bg-info{
    padding: 15px 20px;
}

.bg-warning{
    padding: 25px 30px;
}

.important-box {
    padding: 10px 30px;
    border: 5px solid #dedede;
}

.tf-link-btn {
    display: block;
    width: 300px;
    height: 51px;
    margin: 15px 0 25px;
    background: url(../common-images/theme-forest.png) left top no-repeat;
}

.tf-link-btn:hover, .tf-link-btn:focus {
    background-position: bottom;
}

code.url{
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
}

/* Media Queries */
@media (min-width: 768px) {
    .sidebar-wrapper {
        margin-bottom: -9999px;
        padding-bottom: 9999px;
    }
}

.light-border{
    border: 5px solid #dedede;
}

article.hentry {
    padding: 5px 15px 15px 15px;
}

.hentry p{
    margin: 10px auto 15px;
}

table{
    padding: 5px;
    margin: 20px 0;
    width: 100%;
    border: 1px solid #ccc;
}

table td,
table th{
    padding: 15px;
    border: 1px solid #ccc;
}

table th.attributes,
table th.defaults{
    width: 18%;
}

.important-points {
    margin: 0;
}


/* Search Doc */
.search-container {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-left: 15px;
}

.search-container input.search{
    /*width: 50px;*/
    width: 300px;
    height: 50px;
    background: #3e4548;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 45px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.search-container input.search:focus, .container-2 input.search:active{
    outline:none;
    width: 300px;
}

.search-container input.search::-webkit-input-placeholder {
    color: #b5bfc1;
}

.search-container input.search:-moz-placeholder { /* Firefox 18- */
    color: #b5bfc1;
}

.search-container input.search::-moz-placeholder {  /* Firefox 19+ */
    color: #b5bfc1;
}

.search-container input.search:-ms-input-placeholder {
    color: #b5bfc1;
}

.search-container .icon {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 1;
    width: 25px;
    height: auto;
}

.search-container .icon img {
    color: #4f5b66;
}

.suggestions {
    position: absolute;
    top: 45px;
    background: #3e4548;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 0;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    max-height: 400px;
    overflow: scroll;
    z-index: 9999;
}

.suggestions li {
    list-style: none;
    border-bottom: 1px solid #565d60;

}

.suggestions li:hover {
    background-color: #565d60;
}

.suggestions li:last-child {
    border-bottom:0;
}

.suggestions li a {
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}